body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Regular.ttf");
}
.container_1{
    width: 100%;
    height: 1024px;
    background-image: url("bacgraund.png");
    background-repeat: no-repeat;
    background-size: 100% 1024px;
}
/*პირველი ბლოკი*/
.block_1{
    margin: auto;
    width: 1440px;
    height: 1024px;
    background-image: url("bacgraund.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 70px;
    padding-top: 41px;
}
/*მენიუს ზოლი*/
.section_1{
    width: 1299px;
    height: 69px;
    display: flex;
}
.charcho_site_name{
    width: 251px;
    height: 42px;
    margin-top: 9px;
}
.site_name{
    width: 100%;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line_vaccination{
    width: 100px;
    height: 3px;
    background: #17C2EC;
}
.vaccination{
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
.menu{
    position: relative;
    width: 498px;
    height: 44px;
    margin-top: 17px;
    margin-left: 150px;
    display: flex;
    gap: 25px;
}
.menu >a{
    height: 29px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}
.home{
    color: #FFF;
    font-weight: 700;
}
.ellipse{
    position: absolute;
    top: 32px;
    width: 10px;
    height: 10px;
    margin-left: 34px;
}
.button_1{
    width: 219px;
    height: 100%;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 180px;
    color: #17C2EC;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.menu_click{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background: rgba(196, 196, 196, 0.15);
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    overflow: hidden;
}
.menu_image{
    width: 30px;
    height: 30px;
}
/*პირველი ბლოკის შიგთავსი ელემენტები*/
.box_1{
    width: 1259.127px;
    height: 644px;
    margin-top: 100px;
    display: flex;
    margin-bottom: 10px;
}
.section_2{
    width: 603px;
    height: 100%;
}
#line_1{
    margin-top: 1px;
    width: 553px;
    height: 29px;
}
.line_style{
    color: #17C2EC;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
#line_2{
    width: 552px;
    height: 177px;
    margin-top: 40px;
}
.line_style_2{
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
}
.span_1{
    color: #17C2EC;
}
#line_3{
    width: 603px;
    height: 58px;
    margin-top: 50px;
}
.line_style_3{
    color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
/*<!--button ელემენტები:Get Vaccine და Help Centre -->*/
.line_4{
    margin-top: 50px;
    width: 410px;
    height: 69px;
    display: flex;
    gap: 10px;
}
.get_vaccine{
    width: 200px;
    height: 69px;
    padding: 20px;
    border-radius: 20px;
    background: #17C2EC;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
#help_centre{
    border-radius: 20px;
    border: 2px solid #17C2EC;
    background: rgba(196, 196, 196, 0.10);
}
/*ელემენტი-Schedule your Vaccination*/
.line_5{
    margin-top: 120px;
    width: 405.684px;
    height: 50px;
    display: flex;
    gap: 19.98px;
}
.clock_box{
    width: 49.962px;
    height: 50px;
    border-radius: 10px;
    background: rgba(196, 196, 196, 0.10);
}
.clock_image{
    width: 29.977px;
    height: 30px;
    margin-top: 10px;
    margin-left: 9.99px;
}
#schedule{
    width: 335.742px;
    height: 29px;
    margin-top: 12px;
}
.schedule_style{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
/*პირველი ბლოკის სურათი და მისი შემადგენელი ელემენტები*/
.section_3{
    width: 532.127px;
    height: 571px;
    margin-left: 124px;
    border-radius: 43.192px;
    background-image: url("unsplash_wnSEwHMhxho.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.line_6{
    width: 622px;
    height: 100px;
    margin-top: 223px;
    margin-left: -50px;
    display: flex;
    justify-content: space-between;
}
.image_box{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
.small_image{
    width: 80px;
    height: 65.389px;
    margin-top: 17px;
    margin-left: 10px;
}
.small_image2{
    width: 80px;
    height: 73.043px;
    margin-top: 13px;  
    margin-left: 10px;
}
.charcho{
    width: 374px;
    height: 100px;
    margin-top: 181px;
    margin-left: -50px;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
}
.image_box2{
    width: 167px;
    height: 60px;
}
.restangle9{
    width: 60px;
    height: 60px;
}
#restangle10{
    margin-left: -10px;
}
#restangle11{
    margin-left: -14px;
}
.small_charcho{
    width: 134px;
    height: 51px;
    margin-left: 20px;
    margin-top: 6px;
}
#namber_20{
    width: 45px;
    height: 29px;
    margin-top: 0;
}
#specialists{
    width: 134px;
    height: 29px;
    margin-top: -7px;
}
/*ელემენტები: Location,Date,Vaccine Type და button ღილაკი-Submit*/
.section_4_charcho{
    width: 1299px;
    height: 160px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgba(196, 196, 196, 0.05);
    padding-top: 10px;
}
#section_4{
    padding-top: 0;
    height: 150px;
    display: flex;
}
.sec4_charcho1{
    width: 316.752px;
    height: 58px;
    margin-top: 46px;
    margin-left: 39.97px;
    display: flex;
    gap: 19.98px;
}
.map_pin{
    width: 49.962px;
    height: 50px;
    margin-top: 4px;
}
.box_2{
    width: 246.81px;
    height: 58px;
}
.location{
    width: 107.917px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location_style{
    color: rgba(255, 255, 255, 0.50);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.ijeka_lagos{
    width: 100%;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec4_charcho2{
    width: 290.772px;
    margin-left: 49.96px;
}
#box_3{
    width: 220.83px;
}
#data{
    width: 59.954px;
}
#february{
    width: 100%;
}
#sec4_charcho3{
    width: 232.817px;
    margin-left: 49.96px;
}
#box_4{
    width: 162.875px;
}
#vaccine_type{
    justify-content: start;
    width: 100%;
}
#modena{
    width: 137px;
    justify-content: left;
}
.button_2{
    width: 142px;
    height: 69px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    background-color: #17C2EC;
    margin-left: 136.89px;
    margin-top: 40px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.container_2{
    width: 100%;
    height: 150px;
    background-color: #28282850;
}
/*მეორე ბლოკი და ვაქცინების ფოტო ნუსხა*/
.block_2{
    margin: auto;
    width: 1440px;
    height: 150px;
    padding-left: 71px;
    display: flex;
    gap: 48.11px;
    background: #28282850;
}
.moderna_image{
    width: 288.667px;
    height: 66.393px;
    margin-top: 45.24px;
}
.pfizer_image{
    width: 288.667px;
    height: 117.98px;
    margin-top: 21.18px;
}
.zeneca_image{
    width: 288.667px;
    height: 81.824px;
    margin-top: 34.64px;
}
.sinovac_image{
    width: 288.667px;
    height: 57.899px;
    margin-top: 55.82px;
}
.container_3{
    width: 100%;
    height: 466px;
    background-image: url("bacgraund\ 2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*მესამე ბლოკი*/
.block_3{
    margin: auto;
    width: 1440px;
    height: 466px;
    background-image: url("bacgraund\ 2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 71px;
    padding-top: 63px;
}
/*კოვიდის შესამოწმებელი ველი(Check your COVID-19 result on our Database)*/
.section_5{
    width: 1299px;
    height: 340px;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.10);
}
.line_7{
    width: 1299px;
    height: 101px;
    border-radius: 20px 20px 0px 0px;
    background: rgba(196, 196, 196, 0.05);
    padding-top: 36px;
}
#line7_text{
    width: 560px;
    height: 29px;
    margin-left: 93px;
}
.line7_text_style{
    display: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
}
.line_8{
    width: 1113px;
    height: 69px;
    display: flex;
    gap: 20px;
    margin-top: 35px;
    margin-left: 93px;
}
.input_1{
    width: 450px;
    height: 100%;
    border-radius: 20px;
    border: none;
    background: none;
    border: 3px solid #17C2EC; 
    padding-left: 25.64px;
    color: white;
    caret-color: white;
}
.input_1::placeholder{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    transform: translateY(5px);
}
#input_2{
    color: rgba(255, 255, 255, 0.50);
    caret-color: rgba(255, 255, 255, 0.50);
}
#input_2::placeholder{
    color: rgba(255, 255, 255, 0.50);
}
.check{
    width: 173px;
    height: 100%;
    border-radius: 20px;
    border: none;
    border: 3px solid #17C2EC;
    background: rgba(196, 196, 196, 0.10);
    color: #17C2EC;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.line_9{
    width: 1113px;
    height: 70px;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.05);
    margin-left: 93px;
    margin-top: 35px;
    padding-top: 20px;
}
#line9_text{
    margin: auto;
    width: 756px;
    height: 29px;
}
.line9_text_style{
    color: #17C2EC;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
#here_link{
    text-decoration-line: underline;
}
.container_4{
    width: 1005;
    height: 794.345px;
    background-image: url("bacgraund\ 3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*მეოთხე ბლოკი*/
.block_4{
    margin: auto;
    width: 1440px;
    height: 794.345px;
    background-image: url("bacgraund\ 3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 70.85px;
    padding-top: 57.88px;
}
/*მეოთხე ბლოკის ინფორმაცია*/
.section_6{
    width: 1296.301px;
    height: 117.755px;
    display: flex;
    gap: 255.47px;
}
#question_box{
    width: 503.95px;
    height: 100%;
}
.question_box_style{
    color: #FFF;
    font-family: Montserrat;
    font-size: 47.9px;
    font-style: normal;
    font-weight: 700;
}
#information_box{
    width: 536.881px;
    height: 71.85px;
}
.information_box_style{
    color: rgba(255, 255, 255, 0.50);
    font-family: Montserrat;
    font-size: 19.958px;
    font-style: normal;
    font-weight: 400;
}
/*მეოთხე ბლოკის სამი ელემენტი*/
.section_7{
    width: 1296.296px;
    height: 498.961px;
    margin-top: 29.92px;
    display: flex;
}
/*პირველი ელემენტი*/
.box_5{
    width: 449.064px;
    height: 100%;
    border-radius: 49.896px 149.688px 49.896px 49.896px;
    background: rgba(196, 196, 196, 0.20);
    padding-top: 39.92px;
}
.image_box3{
    margin-left: 39.92px;
    width: 99.792px;
    height: 99.792px;
    border-radius: 29.938px;
    background: rgba(196, 196, 196, 0.10);
}
.shield_image2{
    width: 69.854px;
    height: 69.854px;
    margin: 14.97px;
}
#information_box2{
    width: 288.399px;
    height: 57.879px;
    margin-left: 40.91px;
    margin-top: 39.92px;
}
#information_box3{
    width: 352.266px;
    height: 87.817px;
    margin-top: 29.94px;
    margin-left: 40.91px;

}
.information_box3_style{
    color: #FFF;
    font-family: Montserrat;
    font-size: 17.963px;
    font-style: normal;
    font-weight: 500;
}
.link_box{
    margin-top: 39.92px;
    margin-left: 39.92px;
    width: 141.706px;
    height: 29.938px;
}
.read_more{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    color: #17C2EC;
    font-family: Montserrat;
    font-size: 17.963px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}
.arrow-right_image{
    width: 29.938px;
    height: 29.938px;
    margin-left: 9.98px;
}
/*მეორე ელემენტი*/
.box_6{
    width: 349.272px;
    height: 349.272px;
    border-radius: 49.896px;
    border: 2.994px solid rgba(255, 255, 255, 0.50);
    margin-top: 149.69px;
    margin-left: 74.84px;
    padding-left: 39.98px;
}
.image_box4{
    width: 69.854px;
    height: 69.854px;
    border-radius: 20.956px;
    background: rgba(196, 196, 196, 0.10);
    margin-top: 39.92px;
}
.users_image{
    width: 48.898px;
    height: 48.898px;
    margin-top: 9.98px;
    margin-left: 10.98px;
}
#information_box4{
    width: 256.466px;
    height: 57.879px;
    margin-top: 39.98px;
}
#link_box2{
    margin-left: 0;
    margin-top: 56.88px;
}
#read_more2{
    color: rgba(255, 255, 255, 0.50);
}
/*მესამე ელემენტი*/
#information_box5{
    width: 200.582px;
    height: 28.94px;
    margin-top: 39.92px;
}
#link_box3{
    margin-left: 0;
    margin-top: 85.82px;
}
#read_more3{
    color: rgba(255, 255, 255, 0.50);
}
.container_5{
    width: 100%;
    height: 750px;
    background-image: url("backgraund\ 5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*მეხუთე ბლოკი*/
.block_5{
    margin: auto;
    width: 1440px;
    height: 750px;
    background-image: url("backgraund\ 5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    padding-top: 40px;
}
/*ვაქცინის რეგისტრაციის ველი*/
.section_8{
    width: 654px;
    height: 677px;
    margin-left: 70px;
}
#line_10{
    width: 452px;
    height: 118px;
}
.line_10_style{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
#information_box6{
    width: 245px;
    height: 29px;
    margin-top: 40px;
    margin-left: 2px;
}
.information_box6_style{
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.input_3{
    width: 650px;
    height: 70px;
    border-radius: 20px;
    background: rgba(11, 21, 60, 0.15);
    color: rgba(0, 0, 0, 0.25);
    border: none;
    margin-left: 2px;
    margin-top: 20px;
    padding-left: 30px;
}    
.input_3::placeholder{
    color: rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    transform: translateY(5px);
}
#information_box7{
    width: 195px;
    height: 29px;
    margin-top: 40px;
}
#information_box8{
    width: 654px;
    height: 48px;
    margin-top: 20px;
}
.information_box8_style{
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.line_11{
    width: 650px;
    height: 70px;
    margin-top: 20px;
    display: flex;
}
#box_7{
    width: 400px;
    height: 70px;
    border-radius: 20px;
    background: rgba(11, 21, 60, 0.15);
    display: flex;
}
.image_nigeria{
    width: 40px;
    height: 40px;
    margin-left: 30px;
}
.image_down{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.sveti_box{
    width: 3px;
    height: 40px;
    background: rgba(0, 0, 0, 0.10);
    margin-left: 10px;
}
.input_4{
    width: 286px;
    height: 70px;
    border: none;
    border-radius: 0 20px 20px 0;
    background: none;
    outline: none;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.25); 
}
.input_4::placeholder{
    color: rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    transform: translateY(5px);
}
.button_3{
    margin-left: 36px;
    width: 216px;
    height: 69px;
    border-radius: 20px;
    background: #17C2EC;
    border: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.button_4{
    width: 650px;
    height: 69px;
    margin-top: 40px;
    border-radius: 20px;
    background: #17C2EC;
    border: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.line_12{
    width: 443px;
    height: 24px;
    margin-top: 40px;
    margin-left: 108px;
    display: flex;
    gap: 46px;
}
#information_box9{
    width: 207px;
    height: 24px;
}
.information_box9_style{
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}
#information_box10{
    width: 190px;
    height: 24px;
}
.information_box10_style{
    color: #17C2EC;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
/*მეხუთე ბლოკის სურათი და მისი ელემენტები*/
.section_9{
    width: 380px;
    height: 550px;
    border-radius: 20px;
    background: #0B153C;
    margin-top: 100px;
    margin-left: 264px;
}
.virus_image{
    width: 98.436px;
    height: 95px;
    margin-top: -25px;
    margin-left: -21px;
}
.box_8{
    margin-top: -4px;
    width: 376.686px;
    height: 480px;
    border-radius: 20px;
    background-image: url("unsplash_9c3C_KojYMQ.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#information_box11{
    width: 116px;
    height: 58px;
    margin-top: -30px;
    margin-left: 132px;
    text-align: center;
}
.button_5{
    margin-top: 342px;
    margin-left: 90px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: rgba(196, 196, 196, 0.25);
    border: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.container_6{
    width: 100%;
    height: 981px;
    background-image: url("bacgraund\ 6.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*მეექვსე ბლოკი*/
.block_6{
    margin: auto;
    width: 1440px;
    height: 981px;
    padding-top: 67px;
    background-image: url("bacgraund\ 6.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*Covid-19 Prevention and  Symptoms*/
#information_box12{
    width: 249px;
    height: 29px;
    margin: auto;
}
#information_box13{
    width: 522px;
    height: 59px;
    margin: auto;
    margin-top: 20px;
}
#information_box14{
    width: 953px;
    height: 58px;
    margin: auto;
    margin-top: 40px;
}
.information_box14_style{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
/*მეექვსე ბლოკის სურათი და სიმპტომები*/
.section_10{
    width: 100%;
    height: 530.712px;
    margin-top: 176px;
    display: flex;
}
.box_9{
    width: 492px;
    height:100%;
}
.charcho_1{
    width: 300px;
    height: 70px;
    display: flex;
    border-radius: 10px;
    background: rgba(196, 196, 196, 0.20);
    margin-top: 34px;
    margin-left: 192px;
}
.coronavirus_image_2{
    width: 100px;
    height: 100px;
    margin-top: -15px;
    margin-left: -15px;
}
.information_box15{
    width: 112px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    margin-left: 42px;
}
.information_box15_style{
    color: #17C2EC;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}
#charcho_2{
    margin-left: 92px;
    margin-top: 113px;
}
#information_box16{
    width: 197px;
    margin-left: 0;
}
#charcho_3{
    margin-top: 111px;
    margin-left: 42px;
}
#information_box17{
    width: 108px;
    margin-left: 44px;
}
.image_men{
    width: 708.419px;
    height: 530.712px;
    margin-left: -128px;
}
.box_10{
    width: 514px;
    height: 100%;
    margin-left: -146.42px;
}
#charcho_4{
    width: 363px;
    margin-top: 34px;
    margin-left: 10px;
}
#information_box18{
    width: 219px;
    margin-left: 26px;
}
#charcho_5{
    width: 327px;
    margin-top: 128px;
    margin-left: 101px;
}
#information_box19{
    width: 205px;
    margin-left: 17px;
}
#charcho_6{
    margin-top: 96px;
    margin-left: 163px;
}
#information_box20{
    width: 119px;
    margin-left: 39px;
}
.container_7{
    width: 100%;
    height: 934px;
    background-image: url("bacgraund\ 7.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
/*მეშვიდე ბლოკი*/
.block_7{
    margin: auto;
    width: 1440px;
    height: 934px;
    background-image: url("bacgraund\ 7.png");
    background-repeat: no-repeat;
    background-size: 1440px 750px;
    position: relative;
}
/*სამი კოვიდის საწინაღმდეგო ვაქცინის ფლაკონის სურათი*/
.flakon_image{
    width: 294px;
    height: 478.557px;
    margin-top: 205px;
    margin-left: 128px;
}
#flakon_image2{
    margin-left: 149px;
}
#flakon_image3{
    margin-left: 153px;
}
/*მეშვიდე ბლოკის ნაცრისფერი ზოლი*/
.grey_line{
    margin-top: 66.44px;
    width: 100%;
    height: 184px;
    background-color: gray;
}
.charcho_block_7{
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 750px;
    background: rgba(255, 255, 255, 0.50);
    padding-top: 57px;
}
/*FEEDBACK*/
#information_box21{
    width: 140px;
    height: 29px;
    margin: auto;
}
/*What our Patients Think*/
#information_box22{
    width: 629px;
    height: 59px;
    margin: auto;
    margin-top: 20px;
}
#inf_box22_style{
    font-weight: 800;
}
#information_box23{
    width: 953px;
    height: 58px;
    margin: auto;
    margin-top: 40px;
}
.inf_box23_style{
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
/*ვაქცინირებული პერსონების სამი ბოქსი*/
.section_11{
    width: 1305px;
    height: 250px;
    margin-top: 100px;
    margin-left: 74px;
    display: flex;
}
/*პირველი პერსონა*/
.box_11{
    width: 400px;
    height: 250px;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.50);
}
.line_13{
    width: 310px;
    height: 70px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
}
.person_image{
    width: 70px;
    height: 70px;
}
.line_14{
    width: 220px;
    height: 51px;
    margin-top: 11px;
    margin-left: 20px;
}
#information_box24{
    width: 100%;
    height: 29px;
}
#information_box25{
    margin-top: 5px;
    width: 114px;
    height: 17px;
}
.info-box25_style{
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
#information_box26{
    width: 333px;
    height: 66px;
    margin-top: 40px;
    margin-left: 34px;
}
.info-box26_style{
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.span_covid{
    color: #17C2EC;
}
/*მეორე პერსონა*/
#box_12{
    margin-left: 45px;
    background: #17C2EC;
}
#line_15{
    width: 278px;
}
#line_16{
    width: 188px;
    margin-top: 19px;
}
#information_box27{
    width: 100%;
    height: 29px;
}
#information_box28{
    width: 87px;
    height: 17px;
    margin-top: 5px;
}
#info_box28_style{
    color: rgba(255, 255, 255, 0.75);
}
#information_box29{
    width: 366px;
    height: 66px;
    margin-left: 18px;
    margin-top: 40px;
}
#info_box29_style{
    color: rgba(255, 255, 255, 0.75);
}
/*მესამე პერსონა*/
#box_13{
    margin-left: 60px;
}
#line_17{
    width: 299px;
}
#line_18{
    width: 209px;
}
#information_box30{
    width: 100%;
    height: 29px;
}
#information_box31{
    width: 129px;
    height: 17px;
    margin-top: 5px;
}
#information_box32{
    width: 333px;
    height: 66px;
    margin-top: 40px;
    margin-left: 34px;
}
.container_8{
    width: 100%;
    height: 500px;
    background-image: url(bacgraund\ 8.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*მერვე ბლოკი*/
.block_8{
    margin: auto;
    width: 1440px;
    height: 500px;
    background-image: url(bacgraund\ 8.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #0B153C;
    position: relative;
}
/*ელ.ფოსტის შესაყვანი ველი ინფორმაციის მისაღებად*/
.section_12{
    position: absolute;
    left: 190px;
    top: -215px;
    width: 1067px;
    height: 435px;
    border-radius: 50px;
    background: rgba(196, 196, 196, 0.15);
    padding-top: 17px;
}
.box_14{
    width: 1031px;
    height: 400px;
    border-radius: 50px;
    background-color: #17C2EC;
    margin-left: 19px;
    padding-top: 70px;
}
#information_box33{
    width: 293px;
    height: 58px;
    margin: auto;
}
#information_box34{
    width: 507px;
    height: 29px;
    margin: auto;
    margin-top: 20px;
}
.info_box43_style{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.section_13{
    width: 550px;
    height: 75px;
    margin: auto;
    margin-top: 40px;
    display: flex;
}
.input_5{
    width: 450px;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    background: #FFF;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    padding-left: 40px;
}
.input_5::placeholder{
    color: rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    transform: translateY(5px);
}
.button_6{
    width: 100px;
    height: 100%;
    border-radius: 0px 30px 30px 0px;
    background: #0B153C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}
.send_image{
    width: 40px;
    height: 40px;
}
/*გვერდის ბოლო ნაწილი მენიუს ზოლი*/
.section_14{
    width: 1296px;
    height: 50px;
    margin-top: 327px;
    margin-left: 67px;
    display: flex;
}
#charcho_site_name2{
    margin-top: 1px;
}
#menu_2{
    height: 29px;
    margin-top: 9px;
    margin-left: 162px;
}
#home_style{
    color: #fff;
    font-weight: 700;
}
.image_box5{
    width: 221px;
    height: 50px;
    margin-left: 162px;
    display: flex;
}
.image_style{
    width: 50px;
    height: 50px;
}
#image_style2{
    margin-left: 10px;
}
#image_style3{
    margin-left: 10px;
}
#image_style4{
    margin-left: 1px;
}
/* მორგებილი ნაწილი media query*/
@media screen and (max-width: 768px) {
    .container_1{
        height: 1104px !important;
        background-size: 100% 100% !important;
    }
    .block_1{
        width: 375px !important;
        height: 1104px !important;
        padding-left: 35px !important;
        padding-top: 50px !important;
    }
    .section_1{
        width: 305px !important;
        height: 45px !important;
    }
    .charcho_site_name{
        width: 200px !important;
        height: 33.99px !important;
        margin-top: 6px !important;
    }
    .site_name{
        height: 21px !important;
    }
    .line_vaccination{
        margin-top: 10.06px;
        width: 79.681px !important;
        height: 2.39px !important;
    }
    .vaccination{
        font-size: 18px !important;
    }
    .button_1{
        display: none;
    }
    .menu{
        text-align: center;
        padding-top: 40px;
        width: 298px !important;
        height: 45px !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
        display: block !important;
        column-gap: 0 !important;
    }
    .menu_click{
        display: block !important;
    }
    .menu >a{
        color: black !important;
        width: 100% !important;
        height: 30px !important;
        font-weight: 900 !important;
        display: none;
        margin-bottom: 20px;
        background-color: beige !important;
    }
    .home{
        color: black !important;
        font-weight: 900 !important;
    }
    .menu:hover a{
        display: block !important;
    }
    .ellipse{
        display: none;
    }
    .box_1{
        width: 296px !important;
        height: 715px !important;
        margin-top: 32px !important;
        display: block !important;
        margin-bottom: 0 !important;
    }
    .section_2{
        width: 100% !important;
        height: 283px !important;
    }
    #line_1{
        margin-top: 0 !important;
        width: 277px !important;
        height: 15px !important;
    }
    .line_style{
        font-size: 12px !important;
    }
    #line_2{
        width: 276px !important;
        height: 87px !important;
        margin-top: 20px !important;
    }
    .line_style_2{
        font-size: 24px !important;
    }
    .span_1{
        color: #17C2EC;
    }
    #line_3{
        width: 271px !important;
        height: 51px !important;
        margin-top: 20px !important;
    }
    .line_style_3{
        font-size: 14px !important;
    }
    .line_4{
        margin-top: 40px !important;
        width: 100% !important;
        height: 50px !important;
        gap: 20px !important;
    }
    .get_vaccine{
        width: 138px !important;
        height: 50px !important;
        font-size: 14px !important;
        padding: 0 !important;
    }
    .line_5{
        position: absolute;
        top: 812px;
        margin-top: 0 !important;
        width: 228.977px !important;
        height: 30px !important;
        gap: 10.02px !important;
    }
    .clock_box{
        width: 29.977px !important;
        height: 30px !important;
    }
    .clock_image{
        width: 19.985px !important;
        height: 20px !important;
        margin-top: 5px !important;
        margin-left: 4.99px !important;
    }
    #schedule{
        width: 199px !important;
        height: 17px !important;
        margin-top: 6px !important;
    }
    .schedule_style{
        font-size: 14px !important;
    }
    .section_3{
        width: 256px !important;
        height: 274.701px !important;
        margin-left: 25px !important; 
        margin-top: 50px;
        border-radius: 20.779px !important;
        border: 1px solid #17C2EC;
    }
    .line_6{
        width: 305px !important;
        height: 50px !important;
        margin-top: 112px !important;
        margin-left: -25px !important;
    }
    .image_box{
        width: 50px !important;
        height: 50px !important;
        border-radius: 10px !important;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10) !important;
    }
    .small_image{
        width: 40px !important;
        height: 32.695px !important;
        margin-top: 8.5px !important;
        margin-left: 5px !important;
    }
    .small_image2{
        width: 40px !important;
        height: 36.522px !important;
        margin-top: 6.5px !important;  
        margin-left: 5px !important;
    }
    .charcho{
        width: 238px !important;
        height: 69px !important;
        margin-top: 78px !important;
        margin-left: -25px !important;
        border-radius: 20px;
        background: rgba(196, 196, 196, 0.20);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 0 !important;
        padding-left: 20px !important;
    }
    .image_box2{
        width: 108.002px !important;
        height: 38.802px !important;
        display: flex;
        margin-top: 15px;
    }
    .restangle9{
        width: 38.802px !important;
        height: 38.802px !important;
    }
    #restangle10{
        margin-left: -4.201px !important;
    }
    #restangle11{
        margin-left: -4.201px !important;
    }
    .small_charcho{
        width: 78px !important;
        height: 34px !important;
        margin-left: 10px !important;
        margin-top: 18px !important;
    }
    #namber_20{
        width: 27px !important;
        height: 17px !important;
    }
    #specialists{
        width: 78px !important;
        height: 17px !important;
        margin-top: 0 !important;
    }
    .section_4_charcho{
        width: 305px !important;
        height: 242px !important;
        border-radius: 20px 20px 0px 0px;
        background-color: rgba(196, 196, 196, 0.05);
        padding-top: 11px !important;
    }
    #section_4{
        height: 231px !important;
        display: block !important;
    }
    .sec4_charcho1{
        width: 187.047px !important;
        height: 34px !important;
        margin-top: 9px !important;
        margin-left: 10px !important;
        gap: 10.05px !important;
    }
    .map_pin{
        width: 29.977px !important;
        height: 30px !important;
    }
    .box_2{
        width: 147px !important;
        height: 34px !important;
    }
    .location{
        width: 66px !important;
        height: 17px !important;
    }
    .location_style{
        font-size: 14px !important;
    }
    .ijeka_lagos{
        height: 17px !important;
    }
    #sec4_charcho2{
        width: 187px !important;
        margin-left: 10px !important;
        margin-top: 14px !important;
    }
    #box_3{
        width: 147px !important;
    }
    #data{
        width: 39.916px !important;
    }
    #sec4_charcho3{
        width: 202.852px !important;
        margin-left: 10.03px !important;
        margin-top: 15px !important;
    }
    #box_4{
        width: 162.875px !important;
    }
    #vaccine_type{
        width: 100% !important;
    }
    .button_2{
        width: 150px !important;
        height: 50px !important;
        padding: 20px 25px !important;
        border-radius: 10px !important;
        background-color: #17C2EC;
        margin-left: 10px !important;
        margin-top: 20px !important;
        font-size: 14px !important;
    }
    .container_2{
        height: 39.063px !important;
    }
    .block_2{
        width: 375px !important;
        height: 39.063px !important;
        padding-left: 24.41px !important;
        gap: 12.08px !important;
    }
    .moderna_image{
        width: 72.483px !important;
        height: 16.671px !important;
        margin-top: 11.56px !important;
    }
    .pfizer_image{
        width: 72.483px !important;
        height: 29.624px !important;
        margin-top: 5.51px !important;
    }
    .zeneca_image{
        width: 72.483px !important;
        height: 20.545px !important;
        margin-top: 8.9px !important;
    }
    .sinovac_image{
        width: 72.483px !important;
        height: 14.538px !important;
        margin-top: 14.21px !important;
    }
    .container_3{
        height: 497px !important;
        background-size: 100% 100% !important;
    }
    .block_3{
        width: 375px !important;
        height: 497px !important;
        background-image: url("bacgraund\ 2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-left: 35px !important;
        padding-top: 84px !important;
    }
    .section_5{
        width: 305px !important;
        height: 381px !important;
    }
    .line_7{
        width: 100% !important;
        height: 40px !important;
        padding-top: 14px!important;
        border-radius: 10px 10px 0px 0px !important;
    }
    #line7_text{
        width: 243.796px !important; 
        height: 12px !important;
        margin-left: 30.6px !important;
    }
     #line7_text .schedule_style{
        font-size: 10px !important;
    }
    .line_8{
        width: 280px !important;
        height: 190px !important;
        display: block !important;
        gap: 0 !important;
        margin-top: 21px !important;
        margin-left: 13px !important;
    }
    .input_1{
        width: 100% !important;
        height: 50px !important;
        border-radius: 10px !important; 
        padding-left: 17.51px !important;
        margin-bottom: 20px;
        outline: none !important;
    }
    .input_1::placeholder{
        font-size: 12px !important;
        transform: translateY(0) !important;
    }
    .check{
        width: 150px !important;
        height: 50px !important;
        border-radius: 10px !important;
        font-size: 14px !important;
    }
    .line_9{
        width: 280px !important;
        height: 50px !important;
        border-radius: 10px !important;
        margin-left: 13px !important;
        margin-top: 48px !important;
        padding-top: 13px !important;
    }
    #line9_text{
        width: 240px !important;
        height: 24px !important;
    }
    .line9_text_style{
        font-size: 10px !important;
        text-align: center !important;
    }
    .container_4{
        height: 1026px !important;
        background-size: 100% 100% !important;
    }
    .block_4{
        width: 375px !important;
        height: 1026px !important;
        background-image: url("bacgraund\ 3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-left: 35px !important;
        padding-top: 42px !important;
    }
    .section_6{
        width: 300px !important;
        height: 158px !important;
        display: block !important;
        gap: 0 !important;
    }
    #question_box{
        width: 265px !important;
        height: 56px !important;
    }
    .question_box_style{
        font-size: 24px !important;
    }
    #information_box{
        width: 100% !important;
        height: 85px !important;
        margin-top: 17px;
    }
    .information_box_style{
        font-size: 13px !important;
    }
    .section_7{
        width: 276px !important;
        height: 744px !important;
        margin-top: 40px !important;
        display: block !important;
    }
    .box_5{
        width: 100% !important;
        height: 280px !important;
        padding-top: 20px !important;
        border-radius: 20px 80px 20px 20px !important;
        padding-left: 20px;
    }
    .image_box3{
        margin-left: 0 !important;
        width: 50px !important;
        height: 50px !important;
        border-radius: 10px !important;
    }
    .shield_image2{
        width: 30px !important;
        height: 30px !important;
        margin: 10px !important;
    }
    #information_box2{
        width: 172.34px !important;
        height: 34px !important;
        margin-left: 0 !important;
        margin-top: 20px !important;
    }
    #information_box2 .line9_text_style{
        font-size: 14px !important;
    }
    #information_box3{
        width: 235px !important;
        height: 61px !important;
        margin-top: 20px !important;
        margin-left: 0 !important;
    
    }
    .information_box3_style{
        font-size: 12px !important;
    }
    .link_box{
        margin-top: 25px !important;
        margin-left: 0 !important;
        width: 94px !important;
        height: 20px !important;
    }
    .read_more{
        font-size: 12px !important;
    }
    .arrow-right_image{
        width: 20px !important;
        height: 20px !important;
        margin-left: 5px !important;
    }
    .box_6{
        width: 188px !important;
        height: 202px !important;
        border-radius: 20px !important;
        margin-top: 30px !important;
        margin-left: 0 !important;
        padding-left: 20px !important;
    }
    .image_box4{
        width: 50px !important;
        height: 50px !important;
        border-radius: 10px !important;
        margin-top: 20.92px !important;
    }
    .users_image{
        width: 30px !important;
        height: 30px !important;
        margin-top: 9.58px !important;
        margin-left: 10.58px !important;
    }
    #information_box4{
        width: 156px !important;
        height: 36px !important;
        margin-top: 20.01px !important;
    }
    #information_box4 .schedule_style{
        font-size: 14px !important;
    }
    #link_box2{
        width: 105px !important;
        height: 22px !important; 
        margin-top: 20px !important;
    }
    #read_more2{
        font-size: 14px !important;
    }
    #information_box5{
        width: 156px !important;
        height: 36px !important;
        margin-top: 29px !important;
        justify-content: start !important;
    }
    #link_box3{
        margin-left: 0 !important;
        margin-top: 20 !important;
    }
    .container_5{
        height: 1095px !important;
        background-size: 100% 100% !important;
    }
    .block_5{
        width: 375px !important;
        height: 1095px !important;
        display: block !important;
        padding-top: 33px !important;
    }
    .section_8{
        width: 321px !important;
        height: 1060px !important;
        margin-left: 35px !important;
    }
    #line_10{
        width: 230px !important;
        height: 58px !important;
        margin-left: 38px;
    }
    .line_10_style{
        font-size: 24px !important;
    }
    .section_9{
        width: 289.028px !important;
        height: 418.329px !important;
        border-radius: 15.212px !important;
        margin-top: -962.989px !important;
        margin-left: 50.97px !important;
    }
    .virus_image{
        width: 74.87px !important;
        height: 72.257px !important;
        margin-top: -19.01px !important;
        margin-left: -15.97px !important;
    }
    .box_8{
        width: 286.507px !important;
        height: 365.087px !important;
        border-radius: 15.212px !important;
    }
    #information_box11{
        width: 68px !important;
        height: 34px !important;
        margin-top: -17.26px !important;
        margin-left: 103.03px !important;
    }
    .button_5{
        margin-top: 249px !important;
        margin-left: 37px !important;
        font-size: 14px !important;
    }
    #information_box6{
        width: 143px !important;
        height: 17px !important;
        margin-top: 496px !important;
        margin-left: 0 !important;
    }
    .information_box6_style{
        font-size: 14px !important;
    }
    .input_3{
        width: 305px !important;
        height: 50px !important;
        border-radius: 10px !important;
        margin-left: 0 !important;
        padding-left: 20px !important;
        outline: none;
    }    
    .input_3::placeholder{
        font-size: 14px !important;
        transform: translateY(0) !important;
    }
    #information_box7{
        width: 114px !important;
        height: 17px !important;
        margin-top: 20px !important;
    }
    #information_box8{
        width: 321px !important;
        height: 34px !important;
        margin-top: 20px;
    }
    .information_box8_style{
        font-size: 14px !important;
    }
    .line_11{
        width: 305px !important;
        height: 50px !important;
        display: block !important;
    }
    #box_7{
        width: 305px !important;
        height: 50px !important;
        border-radius: 10px !important;
    }
    .image_nigeria{
        margin-left: 20px !important;
    }
    .image_down{
        margin-left: 5px !important;
    }
    .sveti_box{
        margin-left: 5px !important;
    }
    .input_4{
        width: 211px !important;
        height: 50px !important;
        padding-left: 10px !important;
    }
    .input_4::placeholder{
        font-size: 14px !important;
        transform: translateY(0) !important;
    }
    .button_3{
        margin-top: 36.5px !important;
        margin-left: 0 !important;
        width: 150px !important;
        height: 50px !important;
        border-radius: 10px !important;
        font-size: 14px !important;
    }
    .button_4{
        width: 305px !important;
        height: 50px !important;
        margin-top: 130px !important;
        border-radius: 10px !important;
        font-size: 14px !important;
    }
    .line_12{
        width: 298px !important;
        height: 17px !important;
        margin-top: 20px !important;
        margin-left: 4px !important;
        gap: 20px !important;
    }
    #information_box9{
        width: 145px !important;
        height: 17px !important;
    }
    .information_box9_style{
        font-size: 14px !important;
    }
    #information_box10{
        width: 133px !important;
        height: 17px !important;
    }
    .information_box10_style{
        font-size: 14px !important;
    }
    .container_6{
        height: 345px !important;
        background-size: 100% 100% !important;
    }
    .block_6{
        width: 375px !important;
        height: 346px !important;
        padding-top: 25px !important;
    }
    #information_box12{
        width: 125px !important;
        height: 15px !important;
    }
    #information_box12 .schedule_style{
        font-size: 12px !important;
    }
    #information_box13{
        width: 261px !important;
        height: 29px !important;
        margin-top: 10px !important;
    }
    #information_box14{
        width: 296px !important;
        height: 60px !important;
        margin-top: 10px !important;
    }
    .information_box14_style{
        font-size: 12px !important;
    }
    .section_10{
        height: 167px !important;
        margin-top: 30px !important;
        position: relative;
    }
    .box_9{
        width: 148.962px !important;
    }
    .charcho_1{
        width: 72.942px !important;
        height: 21.883px !important;
        border-radius: 4.863px !important;
        margin-top: 12.67px !important;
        margin-left: 76.02px !important;
    }
    .coronavirus_image_2{
        width: 31.608px !important;
        height: 31.608px !important;
        margin-top: -4.86px !important;
        margin-left: -16.05px !important;
    }
    .information_box15{
        width: 49.914px !important;
        height: 10.698px !important;
        margin-top: 5.84px !important;
        margin-left: 0.09px !important;
    }
    .information_box15_style{
        font-size: 8.553px !important;
    }
    #charcho_2{
        width: 108.926px !important;
        height: 21.883px !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
        position: absolute;
        top: 101.15px;
        left: 22.05px;
    }
    #information_box16{
        width: 86.558px !important;
    }
    #charcho_3{
        width: 72.942px !important;
        height: 21.883px !important;
        margin-top: 22.37px!important;
        margin-left: 43.93px !important;
    }
    #information_box17{
        width: 48.628px !important;
        height: 10.698px !important;
    }
    .image_men{
        width: 222.919px !important;
        height: 167px !important;
        margin-left: -72.459px !important;
    }
    .box_10{
        width: 137.046px !important;
        margin-left: -61.479px !important;
    }
    #charcho_4{
        width: 110.926px !important;
        height: 21.883px !important;
        margin-left: 0 !important;
    }
    #information_box18{
        width: 88.612px !important;
        margin-left: 1px!important;
    }
    #information_box18 .information_box15_style{
        font-size: 8px !important;
    }
    #charcho_5{
        width: 108.926px !important;
        height: 21.883px !important;
        margin-left: 15.56px !important;
        margin-top: 22.57px !important;
    }
    #information_box19{
        width: 89.961px !important;
        margin-left: 0 !important;
    }
    #charcho_6{
        width: 81.695px !important;
        height: 21.883px !important;
        margin-left: 49.06px !important;
        margin-top: 22.57px !important;
    }
    #information_box20{
        width: 52.518px !important;
        margin-left: 4.58px !important;
    }
    .container_7{
        height: 973px !important;
        background-size: 100% 100% !important;
    }
    .block_7{
        width: 375px !important;
        height: 973px !important;
        background-size: 100% 100% !important;
        display: block !important;
    }
    .flakon_image{
        width: 124px !important;
        height: 201.84px !important;
        margin-top: 166px !important;
        margin-left: 125px !important;
    }
    #flakon_image2{
        margin-top: 15.16px !important;
        margin-left: 135px !important;
    }
    #flakon_image3{
        margin-top: 22.18px !important;
        margin-left: 135px !important;
    }
    .grey_line{
        display: none !important;
    }
    .charcho_block_7{
        position: absolute;
        top: 0;
        left: 0;
        width: 375px !important;
        height: 973px !important;
        padding-top: 30px !important;
    }
    #information_box21{
        width: 82px !important;
        height: 17px !important;
    }
    #information_box22{
        width: 315px !important;
        height: 29px !important;
    }
    #information_box23{
        width: 248px !important;
        height: 60px !important;
        margin-top: 10px !important;
    }
    .inf_box23_style{
        font-size: 12px !important;
    }
    .section_11{
        width: 305px !important;
        height: 632.63px !important;
        margin-left: 0 !important;
        margin: auto !important;
        margin-top: 16px !important;
        display: block !important;
    }
    .box_11{
        width: 100% !important;
        height: 190.625px !important;
        border-radius: 13.55px !important;
        padding-top: 22.88px !important;
    }
    .line_13{
        width: 208.925px !important;
        height: 53.375px !important;
        margin-left: 22.88px !important;
        margin-top: 0 !important;
    }
    .person_image{
        width: 53.375px !important;
        height: 53.375px !important;
        border-radius: 13.55px !important;
    }
    .line_14{
        width: 140.3px !important;
        height: 35.072px !important;
        margin-top: 8.39px !important;
        margin-left: 15.25px !important;
    }
    #information_box24{
        width: 140.3px !important;
        height: 18.3px !important;
    }
    #information_box25{
        margin-top: 3.81px !important;
        width: 86.925px !important;
        height: 12.962px !important;
    }
    .info-box25_style{
        font-size: 9.485px !important;
    }
    #information_box26{
        width: 253.912px !important;
        height: 50.325px !important;
        margin-left: 25.92px !important;
    }
    .info-box26_style{
        font-size: 12.195px !important;
    }
    #box_12{
        margin-left: 0 !important;
        margin-top: 30.38px;
    }
    #line_15{
        width: 188.708px !important;
    }
    #line_16{
        width: 119.948px !important;
        margin-top: 8.4px !important;
    }
    #information_box27{
        width: 119.948px !important;
        height: 18.336px !important;
    }
    #information_box28{
        width: 66.468px !important;
        height: 12.988px !important;
        margin-top: 3.81px !important;
    }
    #information_box29{
        width: 279.624px !important;
        height: 50.424px !important;
        margin-left: 13.75px !important;
        margin-top: 30.56px !important;
    }
    #info_box29_style{
        font-size: 13.752px !important;
    }
    #box_13{
        margin-left: 0 !important;
        margin-top: 30px !important;
    }
    #line_17{
        width: 201.3px !important;
    }
    #line_18{
        width: 132.675px !important;
    }
    #information_box30{
        width: 132.675px !important;
        height: 18.03px !important;
    }
    #information_box31{
        width: 98.363px !important;
        height: 12.962px !important;
        margin-top: 3.81px !important;
    }
    #information_box32{
        width: 253.913px !important;
        height: 50.325px !important;
        margin-top: 30.5px !important;
        margin-left: 25.92px !important;
    }
    .container_8 {
        height: 351px !important;

    }
    .block_8{
        width: 375px !important;
        height: 351px !important;
    }
    .section_12{
        left: 35px !important;
        top: -83px !important;
        width: 305px !important;
        height: 206px !important;
        border-radius: 20px !important;
        padding-top: 31px !important;
    }
    .box_14{
        width: 280px !important;
        height: 147px !important;
        border-radius: 10px !important;
        margin-left: 13px !important;
        padding-top: 16px !important;
    }
    #information_box33{
        width: 110px !important;
        height: 22px !important;
    }
    #information_box33 .line_style_2{
        font-size: 18px !important;
    }
    #information_box34{
        width: 212px !important;
        height: 12px !important;
        margin-top: 5px !important;
    }
    .info_box43_style{
        font-size: 10px !important;
    }
    .section_13{
        width: 233px !important;
        height: 40px !important;
        margin-top: 24px !important;
    }
    .input_5{
        width: 174.75px !important;
        border-radius: 20px 0px 0px 20px !important;
        padding-left: 30px !important;
    }
    .input_5::placeholder{
        font-size: 10px !important;
        transform: translateY(0) !important;
    }
    .button_6{
        width: 58.25px !important;
        border-radius: 0px 20px 20px 0px !important;
    }
    .send_image{
        width: 23.3px !important;
        height: 20px !important;
        margin-left: -11.65px !important;
        margin-top: 5px !important;
    }
    .section_14{
        width: 142px !important;
        height: 190.873px !important;
        margin-top: 133px !important;
        margin-left: 35px !important;
        display: block !important;
    }
    #charcho_site_name2{
        margin-top: 0 !important;
        width: 142px !important;
        height: 35px !important;
    }
    #menu_2{
        margin-top: 20px !important;
        width: 77px !important;
        height: 98px !important;
        padding-top: 0 !important;
        text-align: left;
    }
    #menu_2 a {
        color: rgba(255, 255, 255, 0.50) !important;
        font-size: 14px !important;
        background-color: #0B153C !important;
        width: 77px !important;
        height: 17px !important;
        display: block !important;
        margin-bottom: 10px !important;
    }
    .home_1{
        color: rgba(255, 255, 255, 0.50) !important;
    }
    .image_box5{
        width: 78.996px !important;
        height: 17.873px !important;
        margin-left: 0 !important;
        margin-top: 20px !important;
    }
    .image_style{
        width: 17.873px !important;
        height: 17.873px !important;
    }
    #image_style2{
        margin-left: 3.57px !important;
    }
    #image_style3{
        margin-left: 3.57px !important;
    }
    #image_style4{
        margin-left: 0.36px !important;
    }

}